<div class="panel panel-default">
    <div class="panel-body comment-body">
        <div class="top-left">
            {{profile-img owner=comment.owner}}
        </div>
        {{comment.comment_text}}
    </div>
</div>