.link-input-row {
  position: fixed;
  top: 50px;
  z-index: 1000;
  padding: .5em;
  background-color: #bbbbbb;
  width: 100%;
  text-align: center;
}

.link-input {
  max-width: 50em;
  margin: 0 auto;
}