<div class="row">
    <div class="col-sm-12">
        <div class="row">
            {{#each linksGrouping}}
                <div class="row"></div>
                    {{#each}}
                        {{render 'link' this}}
                    {{/each}}
                </div>
            {{/each}}
        </div>
    </div>
</div>