<div class="row">
    <div class="col-sm-12">
        <div class="links-row">
            <ul>
                {{#each}}
                    {{render 'link' this}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>